@model IEnumerable<Rent_a_Car_Front.Models.RentInfo>
@{
    ViewBag.Title = "Rezervasyonlar";
}

<div class="container filter-container">
    <div>
        <button type="button" class="collapse-btn" data-toggle="collapse" data-target="#filter-collapse">
            <i class="fas fa-minus-square"></i>
        </button>
    </div>

    <div class=" navbar-collapse collapse" id="filter-collapse">
        <form action="#" class="request-form car-filter bg-primary">
            <div class="form-group">
                <label for="" class="label">Plaka</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="label">Durum</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-double-item">
                <div class="form-group col-lg-6">
                    <label for="" class="label">Tarih Aralığı</label>
                    <input type="date" class="form-control mr-2" id="book_pick_date">
                </div>
                <div class="form-group col-lg-6">
                    <label for="" class="label">  </label>
                    <input type="date" class="form-control ml-2" id="book_off_date">
                </div>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Filtrele" class="btn btn-success submit">
            </div>
        </form>
    </div>
</div>

<div class="container request-list">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th><span>Araç</span></th>
                                <th><span>Tarih</span></th>
                                <th class="text-center"><span>Durum</span></th>
                                <th><span>Kişi</span></th>
                                <th><span>İşlem</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var r in Model)
                            {
                                <tr>
                                    <td>
                                        <img loading="lazy" src="~/@r.Picture" alt="">
                                        <a href="#" class="user-link">@r.VehiclePlateNum</a>
                                        <span class="user-subhead">@r.VehicleModel</span>
                                    </td>
                                    <td>
                                        @r.StartDate - @r.EndDate
                                    </td>
                                    <td class="text-center">
                                        @if (r.State.Equals("Bekliyor"))
                                        {<span class="label label-warning">@r.State</span>}
                                        @if (r.State.Equals("Onaylandı"))
                                        {<span class="label label-success">@r.State</span>}
                                        @if (r.State.Equals("Reddedildi"))
                                        {<span class="label label-danger">@r.State</span>}

                                    </td>
                                    <td>
                                        <a href="#">@r.CustomerEmail</a>
                                    </td>
                                    <td style="width: 20%;">
                                        <a href="#" class="table-link" onclick="Modal('@r.RentID', '@r.VehiclePlateNum', '@r.StartDate', '@r.EndDate', '@r.CustomerFullName', '@r.CustomerEmail', '@r.CustomerAge', '@r.LicenceAge', '@r.TotalPrice')" data-toggle="modal" data-target="#details-modal">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="/Admin/AcceptRequest/@r.RentID" class="table-link">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                        <a href="/Admin/RejectRequest/@r.RentID" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="pagination">
                    <div>
                        <div class="block-27">
                            <ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="details-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="details-modal-label">Detaylar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="rentID">ID: </p>
                <p id="plaka">Plaka: </p>
                <p id="baslangicTarih">Kiralama Tarihi: </p>
                <p id="bitisTarih">Teslim Tarihi: </p>
                <p id="musteri">Kişi: </p>
                <p id="mail">E-Mail</p>
                <p id="yas">Yaş: </p>
                <p id="ehliyetYas">Ehliyet Yaşı: </p>
                <p id="toplamUcret">Alınacak Toplam Ücret: </p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Reject()" class="btn btn-danger" data-dismiss="modal">Reddet</button>
                <button type="button" onclick="Accept()" class="btn btn-success" data-dismiss="modal">Onayla</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Modal(rentID, plaka, kTarih, tTarih, musteri, mail, yas, ehliyetYas, toplamUcret) {
        document.getElementById('rentID').innerHTML = rentID;
        document.getElementById('plaka').innerHTML = 'Plaka: ' + plaka;
        document.getElementById('baslangicTarih').innerHTML = 'Kiralama Tarihi: ' + kTarih;
        document.getElementById('bitisTarih').innerHTML = 'Teslim Tarihi: ' + tTarih;
        document.getElementById('musteri').innerHTML = 'Müşteri Ad-Soyad: ' + musteri;
        document.getElementById('mail').innerHTML = 'Müşteri E-Mail: ' + mail;
        document.getElementById('yas').innerHTML = 'Yaş: ' + yas;
        document.getElementById('ehliyetYas').innerHTML = 'Ehliyet Yaşı: ' + ehliyetYas;
        document.getElementById('toplamUcret').innerHTML = 'Toplam Ücret: ' + toplamUcret;
    }

    function Accept() {
        var id = document.getElementById('rentID').innerHTML;
        location.href = "/Admin/AcceptRequest/" + id;
    }
    function Reject() {
        var id = document.getElementById('rentID').innerHTML;
        location.href = "/Admin/RejectRequest/" + id;
    }
</script>


