@model Rent_a_Car.Models.Concerets.Vehicle
@{
    ViewBag.Title = "Araç Detayları";
}

<div class="container">
    <h2>Araç Detayları</h2>
    <div class="car-details">
        <img class="vehicle-img" src="~/@Model.Resim" alt="Car" />
        <h5>@Model.Marka</h5>
        <h3>@Model.Model</h3>
        <div class="general-details">
            <p><i class="icon fas fa-tachometer-alt"></i><br />KM - @Model.Kilometre</p>
            <p><i class="icon fas fa-cogs"></i><br />Vites - @Model.SanzimanTuru</p>
            <p><i class="icon fas fa-gas-pump"></i><br />Yakıt - @Model.YakitTuru</p>
            <p><i class="icon fas fa-couch"></i><br />Koltuk Sayısı - @Model.KoltukSayisi</p>
            <p><i class="icon fas fa-suitcase-rolling"></i><br />Bagaj Hacmi - @Model.BagajHacmi</p>
        </div>
    </div>
</div>
<div>
    <div class="col-md-12 pills">
        <div>
            <div>
                <ul class="nav nav-pills" id="pills-tab" role="tablist">

                    <li class="nav-item active">
                        <a class="nav-link" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Özellikler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Açıklama</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active in" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="features">
                                <li>Günlük KM Sınır: @Model.GunlukKMSinir</li>
                                <li>Airbag: @Model.Airbag</li>
                                <li>Bagaj Hacmi: @Model.BagajHacmi L</li>
                                <li>Klima</li>
                                <li>Ses Sistemi</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="features">
                                <li>Emniyet Kemeri</li>
                                <li>Sleeping Bed</li>
                                <li>Water</li>
                                <li>Bluetooth</li>
                                <li>Onboard computer</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                    <p>@Model.Aciklama</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="book-button">
    @Html.ActionLink("Düzenle", "EditVehicle", "Admin", new { ID = Model.ID }, new { @class = "btn btn-primary" })
</div>
