<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -  kaçaolur.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <div class="navbar navbar-inverse text-center transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Araçlar", "Vehicles", "Home")</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Giriş Yap", "Login", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @if (true)
        {
            <nav class="admin-nav">
                <ul>
                    <li>
                         <i class="fas fa-home"></i>
                    </li>
                    <li>
                        <i class="fas fa-file-contract"></i>
                    </li>
                    <li>
                        <i class="fas fa-car"></i>
                    </li>
                    <li>
                        <i class="fas fa-user-alt"></i>
                    </li>
                </ul>
            </nav>
        }
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <div class="">
                    <div class="footer-section col-lg-6 col-md-6 col-xs-12">
                        @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dolor at dolor maximus consectetur. Fusce neque lorem,
                            elementum quis massa id, eleifend scelerisque leo. Nunc elit felis, congue vel ante sed, semper convallis nibh. Pellentesque
                            in risus condimentum, venenatis.
                        </p>
                    </div>
                    <div class="footer-section col-lg-2 col-md-2 col-xs-12">
                        <div>
                            <h4>Information</h4>
                            <ul>
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">Hizmetler</a></li>
                                <li><a href="#">Şartlar ve Koşullar</a></li>
                                <li><a href="#">Gizlilik &amp; Çerez Politikası</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-section col-lg-2 col-md-2 col-xs-12">
                        <div>
                            <h4>Customer Support</h4>
                            <ul>
                                <li><a href="#">SSS</a></li>
                                <li><a href="#">Booking Tips</a></li>
                                <li><a href="#">Nasıl Çalışır</a></li>
                                <li><a href="#">Bize Ulaşın</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-section col-lg-2 col-md-2 col-xs-12">
                        <div>
                            <h4>Sorunuz mu var?</h4>
                            <div>
                                <ul>
                                    <li><span class="glyphicon glyphicon-map-marker"></span>Olmayan Mh. 422. Örnek sk. Menemen/İzmir</li>
                                    <li><a href="#"><span class="glyphicon glyphicon-phone"></span> +90 555 555 55 55</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> info@olmayansirket.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-12 text-center">

                        <p>
                            Copyright &copy;
                            @DateTime.Now.Year Tüm Hakları Saklıdır
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
