@model IEnumerable<Rent_a_Car.Models.Concerets.Vehicle>

@{
    ViewBag.Title = "Araçlar";
}
<div class="container filter-container">
    <div>
        <button type="button" class="collapse-btn" data-toggle="collapse" data-target="#filter-collapse">
            <i class="fas fa-minus-square"></i>
        </button>
    </div>

    <div class=" navbar-collapse collapse" id="filter-collapse">
        <form action="/Home/VehicleFilter" method="post" id="filter-form" class="request-form car-filter bg-primary">
            
            <div class="form-double-item">
                <div class="form-group col-lg-6">
                    <label for="" class="label">Kiralama Tarihi</label>
                    <input type="date" class="form-control mr-2" name="pick_date" value="@ViewBag.PickUpDate">
                </div>
                <div class="form-group col-lg-6">
                    <label for="" class="label">Teslim Tarihi</label>
                    <input type="date" class="form-control ml-2" name="drop_date" value="@ViewBag.DropOffDate">
                </div>
            </div>
          
            @if (ViewBag.PickUpDate != null && ViewBag.DropOffDate != null)
            {
                <script>
                    document.getElementById('filter-post').submit()
                </script>
            }
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Filtrele" class="btn btn-success submit">
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var vehicle in Model)
        {
            <div class="col-md-4">
                <div class="car-wrap">
                    <div class="img  " style="background-image: url(../../@vehicle.Resim);">
                    </div>
                    <div class="text">
                        <h2>@Html.ActionLink(vehicle.Model, "VehicleDetail", "Home", new { area = "" }, new { @class = "car-link" })</h2>
                        <div>

                            <span class="cat">@vehicle.Marka</span>
                            <p class="price ">@vehicle.GunlukFiyat <span>/Gün</span></p>
                        </div>

                        <p class="d-block">
                            @Html.ActionLink("Rezervasyon", "BookVehicle", "Home", new { ID = vehicle.ID }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Detaylar", "VehicleDetail", "Home", new { ID = vehicle.ID }, new { @class = "btn btn-success" })
                        </p>
                       
                    </div>
                    
                </div>
            </div>
        }
    </div>
</div>
<div class="pagination">
    <div>
        <div class="block-27">
            <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
            </ul>
        </div>
    </div>
</div>
